<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<%= link_to "Create test",  new_test_path %> | 
<%= link_to "Create answer",  new_answer_path %> 

<h1 align="center">Test </h1>
  <div class="row" align="center">

     <%=render @tests %>
 </div>