  <div align="center">
  	<!--<div>
  		 <%@tests.each do|test|%>
  		 	<%= link_to test.title, test_path(test.id) %></br>
  		 <%end%>
  	</div>-->
<div class="main">
  <div class="conteinery">
  
  
    <% if !user_signed_in?  %>
        <h1> Вітаємо вас  на нашому сайті</h1>
        <div class="alert alert-warning" role="alert">
            Для того щоб розпочати тест потрібно зареєструватись!
        </div>
            <%= link_to new_user_registration_path do %>
          <button type="button" class="btn btn-primary btn-lg " id="testo" style="text-decoration: none;" >зареєструватись</button>

      <%end%>

   <%end%>
    <% if user_signed_in?  %>
        <h1> Вітаємо вас <%= current_user.nickname %> на нашому сайті</h1>
      
  <div>
  
    <%= link_to test_path(1) do %>
          <button type="button" class="btn btn-primary btn-lg btn-block" id="testo" style="text-decoration: none;">РОЗПОЧАТИ ТЕСТ !!!!</button>

      <%end%>


  </div>
  <%end%>

</div>
</div>
 </div>