<div>
	<div class="row">
	<div class="col-md-3">
	</div>
		<div class="col-md-6" >
			<div align="left">
				<h3><%= test.id%>) <%=test.title%></h3>
			</div>
		<small>
			<time><%= test.created_at.to_date.strftime("%d %B, %Y") %></time>
		</small>
		</div>
	<div class="col-md-3">
	</div>
	</div>	
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<%= render Answer.where(test_id: test.id)%>
		</div>
		<div class="col-md-4">
		</div>
	</div>

</div>
