<div class="containeries" style="background-color: #f2f2f2; color: black;padding: 50px 30px; ">
    <div class="row">
        <div class="col-lg-3" style="margin-top:80px;">Курсова  @ <br> Тест знань з Rspec </div>
        <div class="col-lg-6">
            <h2>Коротко про наш сайт  </h2>
            <p align="justify">Цей сайт розрахований для людей які так чи інакше повязанні з програмуванням тому що тут ви можете випробувати свої знання з Rspec відповідаючи на запитання. Відповівши на всі 12 запитаннь ви отримаєте результат у відсотках також цей сайт дає можливість порівнювати свої знання , тобто він збереже ваш найккащий результат та дату коли вам вдалася ваша найкраща спроба.
            </p>
        </div>      
            <div class="col-lg-3" style="margin-top:80px;">
                </i>Adrees scholl@gmail.com <br>
                </i>mail choll@gmail.com <br>
               </i>phone +74392347239
            </div>
    </div>
</div>  